<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>556248465048-cf36ejjtt6hd051h92bjo8v1qkchbbjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556248465048-cf36ejjtt6hd051h92bjo8v1qkchbbjj</string>
	<key>API_KEY</key>
	<string>AIzaSyBOLHtarTQXail5r7r46o8eyqcZQpPVljY</string>
	<key>GCM_SENDER_ID</key>
	<string>556248465048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.za.shaunsaker.wineme</string>
	<key>PROJECT_ID</key>
	<string>wineme-production</string>
	<key>STORAGE_BUCKET</key>
	<string>wineme-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556248465048:ios:1a12405b02a55671</string>
	<key>DATABASE_URL</key>
	<string>https://wineme-production.firebaseio.com</string>
</dict>
</plist>